<h1>New user</h1>

<%= render 'form' %>

<label for="name">name</label>:
<input id="name" name="person[name]" size="30" type="text" /><br %r>

<label for="email">email</label>:
<input id="email" name="person[email]" size="30" type="text" /><br %r>

<%= link_to 'Back', users_path %>
